@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
  transition: all 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 25px #0284c7;
}

.img_glow {
  box-shadow: 0 0 55px #0284c7;
}

.neno_button {
  transform: all 0.3s ease-in-out;
}

.neno_button:hover {
  box-shadow: 0 0 15px #0284c7;
}

.b_glow {
  box-shadow: 0 0 15px #0284c7;
}

.flower {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: -50px;
  opacity: 0.5;
  pointer-events: none;
}

.flower img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  /* filter: brightness(0.5); */
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0.5;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
